
{% extends 'layout.html' %}
{% block page_title %}Internal Server Error{% endblock %}
{% block title %}Internal Server Error{% endblock %}

{% block content %}
<section id="error">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <h2>There was an error with the application. Sorry for the inconvenience.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

{% endblock %}