
{% extends 'layout.html' %}
{% block title %}Stock Price Predictor{% endblock %}

{% block content %}
<section id="symbol-selector">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <cm-symbol-reader></cm-symbol-reader>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block page_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/symbol-reader.module.js') }}"></script>  

<script>
    angular.module('symbolReaderApp', [
        'symbolReaderModule'
    ]);

    angular.element(function() {
      angular.bootstrap(document, ['symbolReaderApp']);
    });

</script>
{% endblock %}