{% extends 'layout.html' %}
{% block title %}Evaluated Stock Prices{% endblock %}

{% block content %}
<!-- visualization of nromed graphs -->
<cm-normed-display></cm-normed-display>

<!-- stats for each stock selected -->
<cm-stats-display></cm-stats-display>

<!-- Predicted Fututre Values -->
<cm-prediction-breakdown></cm-prediction-breakdown>

{% endblock %}

{% block page_scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/test.js') }}"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='js/stocks-display.js') }}"></script> 

<script>
    console.log(window.stockData);
    angular.module('displayApp', [
        'displays'
    ]);

    angular.element(function() {
      angular.bootstrap(document, ['displayApp']);
    });

</script>
{% endblock %}