<section id="stats">
     <div class="container">
        <div class="row center-xs">
            <div class="col-xs-12">
                <div class="box"><h2 class="header">Statistics Over the Entire Training Period</h2></div>
            </div>
        </div>
        <div class="row center-xs stat-list">
            <div class="col-xs-12">
                <div class="box">
                    <table>
                        <tr>
                            <th></th>
                            <th>Mean</th>
                            <th>Median</th>
                            <th>STD</th>
                        </tr>
                        <tr ng-repeat="(key, value) in ds.stats"> 
                            <th>{{value.name}}</th>
                            <td>{{value.Mean}}</td>
                            <td>{{value.Median}}</td>
                            <td>{{value.Std}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div> 
</section>